*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: black;
    height: 100%;
    background-image: url("desfoc.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    max-width: 1000px;
    margin:  40px auto;
}

header{
    background-color: #48C5CE;
}

.title{
    color: white;
    text-align: center;
    font-size: 26px;
    padding: 10px;
}

section{
    padding: 20px;
    background-image: url("people.jpg");
    background-size: cover;
    overflow: hidden;
}

.formContainer{
    max-width: 280px;
    background-color: #FFFFFFBB;
    padding: 20px;
    float: right;
}

h2{
    font-size: 16px;
}

.mb{
    margin-bottom: 15px;
}

input, select{
    width: 100%;
    box-sizing: border-box;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
}

input[type="submit"]{
    color: white;
    background-color: #48C5CE;
    font-weight: bold;
}

select{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url("arrow.jpg");
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
}

footer{
    background-color: #202121;
    padding: 40px;
    text-align: center;
}

.picture{
    width: 160px;
}

.description{
    color: white;
    display: inline-block;
    max-width: 40%;
    margin-left: 40px;
}

.description p, .description h3{
    margin-bottom: 20px;
}

.description h3{
    font-size: 24px;
}

